<div class="container-fluid">
    <h2>Add New Quote</h2>
<div class="formContainer">
    <form class="newQuote">
        <div class="form-group">
  
        
            <input type="text" required class="form-control" id="name" placeholder="Quote">
  
        </div>
        <div class="form-group">
  
            <input type="text" required class="form-control" id="author" placeholder="Author">
  
        </div>
        <div class="form-group">
  
        
            <input type="text" required class="form-control" id="name" placeholder="Submitter">
  
        </div>
        <button  class="btn btn-success btnCustom"><span class="glyphicon glyphicon-hand-up"></span>Add Quote</button>
    </form>
</div>
  </div>
  <hr>